@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --color-main: #2874f0;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial,sans-serif;
}

/* Navbar */

.nav {
    background-color: var(--color-main);
    position: sticky;
}

.nav__content {
    display: flex;
    flex-direction: row;  
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 175px;
}

a {
    text-decoration: none;
}

.nav__left {
    display: flex;
    width: 35%;
}

.nav__logo {
    margin-right: 15px;
}

.nav__logo-image {
    width: 75px;
}

.nav__logo-explore {
    margin-top: -1px;
    font-size: 1.1rem;
    font-style: italic;
    color: white;

}

.nav__logo-plus {
    margin-right: 2px;
    color: #ffe500;
    font-weight: 500;
}


.nav__search {
    display: flex;
    box-shadow: 1px 0px 5px #5f5f5f;
    width: 100%
}

.nav__search-input {
    width: 100%;
}

.nav__search-input input{
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
}


.nav__search-btn {
    border: none;
    background: #fff;
    height: 35px;
    width: 44px;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px 12px 0 8px;
    margin-left: -1px;
}

.nav__right {
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-right: 100px;
    gap: 50px;
    margin-left: -100px;
}

.nav__login {
    border: 1px solid #fff;
    padding: 5px 40px;
    font-size: 1.6rem;
    color: var(--color-main);
    cursor: pointer;
    background-color: #fff;
    font-weight: 500;
}

.nav__more {
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.nav__more-arrow {
    margin: 1px 0 0 8px;
    transform: rotate(90deg);
    transition: transform .1s ease-in-out;
}

.nav__more:hover .nav__more-arrow{
    transform: rotate(270deg);
}

.nav__cart {
    color: white;
    font-weight: 500;
    cursor: pointer;
}


@media only screen and (max-width: 1130px) {
    .nav__right {
        gap: 20px;
    }
}

@media screen and (max-width: 880px){
    .nav__right {
        margin-right: 10px;
    }   
}



/* Menu - Categories */

.menu {
    padding: 0.8rem 0 1.5rem 0;
    box-shadow: 0.1rem 0.1rem 0.25rem rgb(201, 200, 200);
}

.menu__items {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.menu__item {
    cursor: pointer;
}

.menu__item img {
    display: block;
    margin: auto;
    max-width: 6.5rem;
}


.menu__item figcaption {
    margin-top: 0.5rem;
    text-align: center;
}

.menu__item:hover {
    color: var(--color-main)
}

.menu__item-arrow {
    margin-left: 0.4rem;
    transform: rotate(90deg);
    transition: transform .1s ease-in-out;
}

.menu__item:hover .menu__item-arrow {
    color: var(--color-main);
    transform: rotate(270deg);
}

@media screen and (max-width: 1235px) {
    .menu__items {
        gap: 2rem;
    }
}