@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --color-main: #2874f0;
    --color-background: #f1f3f6;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial,sans-serif !important;  
    background-color: var(--color-background);
}

/* Scrollbar of body */
body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
  background-color: #F5F5F5;
  width: 10px;
}

body::-webkit-scrollbar-thumb
{
  background-color: rgb(201, 201, 201);
  border: 2px solid rgb(201, 201, 201);
  border-radius: 10px;
}


/* Navbar */
.nav {
    background-color: var(--color-main);
    position: sticky;
    justify-content: center;
    top: 0;
    z-index: 5;
    box-shadow: 0 1px 1px rgb(197, 197, 197);
}

.nav__content {
    display: flex;
    flex-direction: row;  
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 175px;
    width: 100%;
}

a {
    text-decoration: none;
}

.nav__left {
    display: flex;
    width: 35%;
}

.nav__logo {
    margin-right: 15px;
}

.nav__logo-image {
    width: 75px;
}

.nav__logo-explore {
    margin-top: -1px;
    font-size: 1.1rem;
    font-style: italic;
    color: white;

}

.nav__logo-plus {
    margin-right: 2px;
    color: #ffe500;
    font-weight: 500;
}


.nav__search {
    display: flex;
    box-shadow: 1px 0px 5px #5f5f5f;
    width: 100%
}

.nav__search-input {
    width: 100%;
}

.nav__search-input input{
    padding: 6px 10px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.nav__search-input input::placeholder{
    font-size: 1.4rem;
}


.nav__search-btn {
    border: none;
    background: #fff;
    height: 35px;
    width: 44px;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px 12px 2px 8px;
    margin-left: -1px;
}

.nav__right {
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-right: 100px;
    gap: 50px;
    margin-left: -100px;
}

.nav__login {
    border: 1px solid #fff;
    padding: 5px 40px;
    font-size: 1.6rem;
    color: var(--color-main);
    cursor: pointer;
    background-color: #fff;
    font-weight: 500;
}

.nav__more {
    color: white;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.nav__more-arrow {
    margin: 1px 0 0 5px;
    transform: rotate(270deg);
    transition: transform .15s ease-in-out;
}

.nav__more:hover .nav__more-arrow{
    transform: rotate(90deg);
}

.dropdown-more:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.nav__cart {
    color: white;
    font-weight: 500;
    cursor: pointer;
}



.menu__item:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

.dropdown-menu {
    font-size: 1.4rem;
    letter-spacing: 0.2pt;
    font-family: Roboto, Arial,sans-serif !important;  
    padding: 1rem 1.5rem;
    line-height: 2.6rem;
    color: #000;
    box-sizing: border-box;
    min-width: 11.5%;
}

.menu__item:nth-child(9) .dropdown-menu {
    min-width: 13%;
}

.dropdown-menu li:hover a {
    color: var(--color-main);
    font-weight: 600;
}

@media only screen and (max-width: 1130px) {
    .nav__right {
        gap: 20px;
    }
}

@media screen and (max-width: 880px){
    .nav__right {
        margin-right: 10px;
    }   
}

@media screen and (max-width: 600px) {
    .nav__content {
        flex-direction: column;
        gap: 18px;
    }

    .nav__search-input input{
        width: 100%;
    }

    .nav__left {
        width: 70%;
    }
    .nav__right {
        margin-left: 1rem;
    }
}





/* Menu - Categories */

.menu {
    padding: 0.8rem 0 1.5rem 0;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px rgb(95, 95, 95);
}

.menu__items {
    display: flex;
    column-gap: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.menu__item {
    cursor: pointer !important;
}

.menu__item img {
    display: block;
    margin: auto;
    max-width: 6.5rem;
}


.menu__item figcaption {
    margin-top: 0.5rem;
    text-align: center;
}

.menu__item:hover {
    color: var(--color-main);
}

.menu__item-arrow {
    margin-left: 0.4rem;
    transform: rotate(270deg);
    transition: transform .15s ease-in-out;
}

.menu__item:hover .menu__item-arrow {
    color: var(--color-main);
    transform: rotate(90deg);
}

.menu__item:hover .menu__item-arrow-icon {
    fill: var(--color-main);
}

@media screen and (max-width: 1235px) {
    .menu__items {
        gap: 2rem;
    }
}

@media screen and (max-width: 980px) {
    .menu__items {
        flex-wrap: wrap;
        row-gap: 0;
    }
}



/* Home - Content */

.content {
    background-color: var(--color-background);
    padding: 0.5rem 0;
}

.content--deals {
    margin: 2rem auto 1.3rem auto;
    display: flex;
    justify-content: center;
    height: fit-content;
    gap: 0.7rem;
    width: 88%;
}

.deals-container {
    background-color: #fff;
    height: fit-content;
    padding: 1.5rem 0 0 0;
    position: relative;
    box-shadow: 0px 1px 5px 0px lightgray;
    width: 100%;
    overflow: hidden;
}

.deals {
    display: flex;
    gap: 4rem;
    justify-content: start;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 0px rgb(212, 212, 212);
    padding: 0 2rem 0rem 3rem;
}

.deals .deals__heading {
    font-size: 2.2rem;
    margin-top: 0.4rem;
}

.deals .deals__timer {
    color: rgb(168, 167, 167);
    font-size: 1.7rem;
    font-weight: 400;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-top: -0.2rem;
    margin-left: -1rem;
    gap: 0.8rem;
}


.deals__timer img {
    margin-top: -0.3rem;
    width: 3rem;
}

.deals .view-btn {
    background-color: var(--color-main);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 1.25rem 1.8rem;
    margin-bottom: 0.5rem;
}


.products {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
    display: flex;
    gap: 4rem;
    justify-content: start;
    margin-bottom: 1rem;
    padding: 0 0 0.5rem 3rem;
    margin: 1.1rem 0;
}

.product {
    text-align: center;
    cursor: pointer;
}

.product figure img {
    width: 155px;
    height: 185px;
    margin-bottom: 2rem;
    object-fit: contain;
    transition: transform 0.1s ease-in-out;
}

.product img:hover {
    transform: scale(1.05);
}

.product figure figcaption {
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.product__discount{
    color: #388e3c;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}

.product__desc{
    color: #757575;
    font-size: 1.5rem;
}

.products__next-icon {
    position: absolute;
    right: -2px;
    top: 18rem;
    background-color: #fff;
    border-radius: 3px;
    padding: 3rem 0.25rem;
    box-shadow: -1px 1px 3px 0.5px rgb(212, 211, 211);
    cursor: pointer;
}

.products__next-icon img {
    width: 3.5rem;
}

.advertisement {
    background-color: #fff;
    padding: 0 0.5rem;
    box-shadow: 0px 1px 5px 0px lightgray;
}

.advertisement img {
    object-fit: contain;
    margin: 1.3rem 0.8rem 0.8rem 0.8rem;
    width: 23.7rem;
}

@media screen and (max-width: 1500px) {
    .products {
        overflow-x: scroll;
    }

    .products::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }
    
    .products::-webkit-scrollbar
    {
      background-color: #F5F5F5;
      height: 7px;
    }
    
    .products::-webkit-scrollbar-thumb
    {
      background-color: rgb(175, 175, 175);
      border: 2px solid rgb(175, 175, 175);
      border-radius: 10px;
    }
    
}



/* Books and Instuments */

.content--instruments {
    padding-top: 1rem;
    background-color: #fff;
    width: 88%;
    margin: auto;
    margin-bottom: 2rem;
    box-shadow: 0px 1px 5px 0px lightgray;
    position: relative;
}

.instruments-container {
    gap: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    padding: 0 0rem 0.5rem 3rem;
    overflow: hidden;
}

.content--instruments .heading-container {
    flex-grow: 1;
}

.deals__shop-now {
    margin-top: 0.5rem;
    color: #757575;
    font-size: 1.2rem;
}

.content--instruments .view-btn {
    padding: 0rem 1.8rem;
    margin: 1rem;
}


.carousel {
    width: 88%;
    margin: 0.5rem auto 0 auto;
}


@media screen and (max-width: 1580px) {
    .content--deals {
        width: 100%;
    }

    .deals-container {
        width: 100%;
    }

    .content--instruments {
        width: 100%;
    }

    .carousel {
        width: 100%;
    }
}



@media screen and (max-width: 652px) {
    .advertisement {
        display: none;
    }

    .deals__heading {
        font-size: 1.7rem;
    }

}